<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand mr-auto" href="#">Polls</a>
    <button type="button" class="btn btn-secondary">Create Poll</button>
</nav>


<section class="jumpotron bg-dark text-center">
    <h1 class="text-light">Burkina Polls</h1>
    <p class="text-muted lead text-light">
        Powerd By LordVins226
    </p>
</section>
<app-poll-create></app-poll-create>
<div class="d-flex">
    <div class="container poll-list">
        List
    </div>
    <div class="container poll-detail">
        Detail
    </div>
</div>